[submodule "Aria/vendor/spdlog"]
	path = Aria/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Aria/vendor/GLFW"]
	path = Aria/vendor/GLFW
	url = https://github.com/JesterSe7en/glfw
[submodule "Aria/vendor/imgui"]
	path = Aria/vendor/imgui
	url = https://github.com/JesterSe7en/imgui
